body {
  text-align: center;
  align-items: center;
}

.navbar {
  overflow: hidden;
  background-color: black;
  display: flex;
  margin: 0 auto;
  justify-content: auto;
  padding: 10px 10px
}


.nav {
  width: 3000px;
  margin: 0 auto;
  
}

.navbar a {
  float: left;
  display: block;
  color: aliceblue;
  padding: 16px 18px;
  text-decoration: none;

}

.navbar a:hover {
  background-color: aliceblue;
  color: black;
  text-align: left;
}

.title {
  margin-left: 56px;


}

.title h1 {
  font-size: 72px;
  margin: 0;
}

.fildeset {
  text-align: center;
  align-items: center;
  background-color: aliceblue;
}

button {
  background-color: blue;
  color: antiquewhite;
}

.assunto3-lista {
  text-align: left;
}
